body {
    margin: 0px;
    padding: 0px;
}

main {
    
    padding: 16px;
    
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(155, 84, 37);
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black; 
    padding: 16px;
    background-color: rgb(54, 105, 54);
}

a {
    text-decoration: none;
    color: rgb(231, 204, 66);
}

a:hover {
    color: rgb(155, 84, 37);
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto; 
}

table tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.451);
}